/* work sans google font   */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

/* common style  */
* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    padding: 20px 25px;
    font-size: 1.25rem;
    border: 0;
}

.text-light-gray {

    color: #131313;
    font-weight: 400;
    font-size: 1rem;

}

.section-title {
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
    margin: 0px;

}

/* header style  */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

.header {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav>ul {
    display: flex;

}

nav li {
    list-style-type: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner style  */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}

.banner-title {
    font-size: 4rem;
    color: #131313;
    font-weight: 700;
}



.img {
    width: 100%;
    margin-top: 20px;

}

/* main style  */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* teams styles  */
.teams-container {
    display: flex;
    align-items: center;
    /* justify-content: center; */

}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding: 0px 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.quick-list {
    color: #727272;
    font-weight: 500;
}

.of-our {
    color: #131313;
    font-weight: 700;
}

/* features start  */

.features {
    color: #FF900E;
    font-weight: 700;
}

.features {
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 100px;
}

.feature-content .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-content .card {
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}




.ten-years-badge {
    border-radius: 8px;
    background: #FF900E;
    width: 200px;
    color: white;
    text-align: center;
    padding: 20px 40px;
    margin-top: -100px;
    position: absolute;
    z-index: 1;



}

.ten-years-badge h2 {
    font-size: 3rem;
    margin: 0;
}


/* facts starat  */

.facts-card-container {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    gap: 20px;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin: 10px 0px;

}

.facts-card-container .card-title {
    font-weight: 600;
    color: #727272;
    font-size: 1.25rem;
    margin-top: 5px;
}

/* sponsors section  */
.sponsors {
    text-align: center;
}

.sponsors-img-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    margin-top: 50px;

}

.sponsors-img-container img {
    width: 165px;
}

.footer {
    border-radius: 8px;
    background: #FFF4E7;
    text-align: center;
    padding: 20px 0px;
}

.para {
    padding: 30px 0px;
}


/* responsive media queries */
/* mobile devices */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-img-container,
    .features {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .facts {
        margin-top: 150px;
    }

    .ten-years-badge {
        margin-left: 20%;
    }

    img,
    .features {
        margin-top: 0px;
        gap: 0px;
    }
}

/* tablet devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 30px;
    }

    nav,
    .teams-container,
    .sponsors-img-container,
    .features,
    .facts-card-container {
        flex-direction: column;
    }

    .features {
        margin: 0px;
        gap: 0px;
    }

    .facts {
        margin-top: 150px;
    }

    .ten-years-badge {
        margin-left: 30%;
    }



}